.main {
    width: 800px;
    margin: auto;
}
.main-send-button {
    width: 150px;;
    border: 2px solid rgb(0, 0, 255);
    color: rgb(0, 0, 255);
    background-color: #5555ff47;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    outline: pointer;
}